*{
  margin: 0;
  padding: 0;
}
.blue-tx {
  color: #0b74ec;
}
.App {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_weather {
  width: min(400px, 80%); 
  padding: 20px;
  border-radius: 15px;
  background-color: #00000086;
  color: #fff;
}
.weather_information {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.weather_dregrees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}
.weather_dregrees img {
  width: 220px;
  aspect-ratio: 1;
}
.weather_dregrees p {
  font-size: 20px;
  font-weight: 600;
}
.weather_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.weather_list .title_card {
  margin-bottom: 20px;
}
.weather_list p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}
.weather_list span{
  color: #0b74ec;
  font-style: italic;
  font-size: 18px;
  font-weight: 700;
}
.time {
  font-size: 18px;
  font-style: italic;
}
.temp {
  font-size: 22px;
}
.weather_btn {
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  background-color: #0b74ec;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.weather_btn:active {
  box-shadow: 1px 1px 10px #000;
  transition: box-shadow 100ms ease;
}
.load_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: #00000086;
  color: #fff;
}
.load_bg img {
  margin-bottom: 20px;
}
@media(max-width: 538px) {
  .weather_dregrees img {
    width: 160px;
    aspect-ratio: 1;
  }
  .weather_list p {
    font-size: 14px;
    text-align: center;
  }
  .weather_list span{
    font-size: 14px;
  }
  .weather_btn {
    font-size: 12px;
  }
}